/* navbar */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
    color: white!important
    background: color-bg-sidebar + 10!important

.navbar
    border-bottom: 1px solid color-bg-sidebar + 40
    &.navbar-primary
        background: color-bg-sidebar

    &.navbar-xs
        min-height: 28px
        height: 28px

    &.navbar-xs .navbar-brand
        padding: 0px 12px
        font-size: 16px
        line-height: 28px

    &.navbar-xs .navbar-nav > li > a
        padding-top: 0px
        padding-bottom: 0px
        line-height: 28px

    &.navbar-sm
        min-height: 40px
        height: 40px

    &.navbar-sm .navbar-brand
        padding: 0px 12px
        font-size: 16px
        line-height: 40px

    &.navbar-sm .navbar-nav > li > a
        padding-top: 0px
        padding-bottom: 0px
        line-height: 40px
        &:hover, &:focus, &:active
            color: white!important
            background: color-bg-sidebar + 10!important

    .dropdown-menu
        background: color-bg-sidebar + 10
        font-size: 12px
        a
            color: white - 100
            &:hover
                background: color-bg-sidebar + 80
    .form-control
        width: 150px
        transition: width .2s ease
        &:focus
            width: 250px
            outline: none
            box-shadow: none
    .divider
        background: color-bg-sidebar + 20
    .circles
        &.red a
            color: color-apple-red
        &.yellow a
            color: color-apple-yellow
        &.green a
            color: color-apple-green

        &:hover
            background: none
        a
            padding: 10px 3px