{% load bower static %}
<!doctype html>
<html lang="en" ng-app="Spotify">
<head>
    <meta charset="UTF-8">
    <title>Spotify</title>

    {% bower 'css' 'bootstrap' %}
    {% bower 'css' 'components-font-awesome' %}

    <link rel="stylesheet" href="/static/css/style.css"/>
    <base href="/"/>
</head>
<body>

<div navigation></div>

<div id="layout">
    <div class="ui-layout-west">
        <div browsemenu></div>
        <div createplaylist></div>
        <div playlist></div>
    </div>
    <div class="ui-layout-center">
        <div ng-view></div>
    </div>
    <div class="ui-layout-east">
        <div recomments></div>
        <div friendfeed></div>
    </div>
</div>

{% include '_templates.html' %}

<!-- Angular Modules -->
{% bower 'js' 'angular' %}
{% bower 'js' 'angular-route' %}
{% bower 'js' 'angular-named-routes' %}

<!-- PLugins -->
{% bower 'js' 'jquery' %}
{% bower 'js' 'bootstrap' %}
{% bower 'js' 'lodash' %}
{% bower 'js' 'jquery-ui' %}
{% bower 'js' 'jquery-ui-layout-bower' %}

<script src="/static/app/resource.js"></script>
<script src="/static/app/jquery-scripts.js"></script>
<script src="/static/app/app.js"></script>

<script src="/static/app/directives.js"></script>
<script src="/static/app/controllers/playlist.js"></script>

</body>
</html>
